<html>
   <body>
      <h1>COPY A FILE</h1>
      <p>Only absolute paths please.</p>
      <form method="post">
         <input name="in" type="text" />
         <input name="out" type="text" />

         <p>
            -i: <input type="checkbox" name="hasI" /> <br />
            -v: <input type="checkbox" name="hasV" /> <br />
         </p>

         <input type="submit" value="ENGAGE" />
      </form>
   </body>
</html>

